<!DOCTYPE html>
<html lang = "pl">
{% include 'head.tmpl' %}
	
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		{% include 'logo_i_navbar.tmpl' %}
		{% include 'komunikat_pozytywny.tmpl' %}
		{% include 'komunikat_negatywny.tmpl' %}
		
		<div id="section1" class="container-fluid">
			<h1>Section 1</h1>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
		</div>
		<div id="section2" class="container-fluid">
			<h1>Section 2</h1>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
		</div>
		<div id="section3" class="container-fluid">
			<h1>Section 3</h1>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			<p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
		</div>

		<div id="ligowa" class="container-fluid">
			<div class="listy">
				<p>
					<label for="sezony">WYŚWIETL SEZON</label>
					<select name="sezony">
						<option value="1516" selected="selected">2015/2016</option>
						<option value="1415">2014/2015</option>
						<option value="1314">2013/2014</option>
						<option value="1213">2012/2013</option>
					</select>
				</p>
				<label for="stats"> WYŚWIETL STATYSTYKI</label>
				<select name="stats">
					<option value="ligowa" selected="selected">Tabela Ligowa</option>
					<option value="golestrz">Gole Strzelone</option>
					<option value="golestrac">Gole Stracone</option>
					<option value="clean">Czyste Konta</option>
				</select>
			</div>
			<div class="table table-responsive table-bordered">          
				<table class="table">
					<thead>
					  <tr>
						<th>Pozycja</th>
						<th></th>
						<th>Nazwa</th>
						<th>Rozegrane</th>
						<th>Wygrane</th>
						<th>Remisy</th>
						<th>Porażki</th>
						<th>Gole Strzelone</th>
						<th>Gole Stracone</th>
						<th>Różnica Bramek</th>
						<th>Punkty</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>1.</td>
						<td><img src="images/kluby/lester.png" width="32" height="32"/></td>
						<td>Leicester</td>
						<td>17</td>
						<td>11</td>
						<td>5</td>
						<td>1</td>
						<td>37</td>
						<td>24</td>
						<td>13</td>
						<td>38</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
