{% if wyswietl_komunikat_pozytywny %}
	<div id="alerts" class="container-fluid">
		<div class="alert alert-info fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>{{ komunikat_pozytywny }}</strong>
		</div>
	</div>
{% endif %}