{% if wyswietl_komunikat_negatywny %}
	<div id="alerts" class="container-fluid">
		<div class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>{{ komunikat_negatywny }}</strong>
		</div>
	</div>	
{% endif %}