<!DOCTYPE html>
<html lang = "pl">
{% include 'head.twig' %}
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		{% include 'logo_i_navbar.twig' %}
		{% include 'komunikat_pozytywny.twig' %}
		{% include 'komunikat_negatywny.twig' %}
                {% if  poprawna__zmiana_emailu is not defined %}
                    <form role="form" action="index.php?page=koniec_kolejki" method="post" id="form1">
                        <input type="hidden" name="send" value="koniec_kolejki">
                        <button type="submit" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-ok"> Koniec kolejki?</span></button>
                    </form>
                {% endif %}	
	</body>
</html>
