<!DOCTYPE html>
<html lang = "pl">
{% include 'head.twig' %}	
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        {% include 'logo_i_navbar.twig' %}
        {% include 'komunikat_pozytywny.twig' %}
        {% include 'komunikat_negatywny.twig' %}
    </body>
</html>
