<!DOCTYPE html>
<html lang = "pl">
{% include 'head.tmpl' %}
	
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		{% include 'logo_i_navbar.tmpl' %}
		{% include 'komunikat_pozytywny.tmpl' %}
		{% include 'komunikat_negatywny.tmpl' %}
		<form role="form" action="index.php?page=rejestracja" method="post" id="form1">
                    E-mail:
                    {% if POST_EMAIL is defined %}
                    <input type="text" value="{{ POST_EMAIL }}" name="email" id="email" onchange="zmiania_widocznosci('email','v1','v2');">
                    {% else %}
                    <input type="text" value="" name="email" id="email" onchange="zmiania_widocznosci('email','v1','v2');">
                    {% endif %}
                    <span class="ukryty" id="v1" value="0"> OK </span> <span class="ukryty" id="v2" value="0"> Nope </span> </br>

                    Login:
                    {% if POST_LOGIN is defined %}
                    <input type="text" value="{{ POST_LOGIN }}" name="login" id="login" onchange="zmiania_widocznosci('login','v3','v4');">
                    {% else %}
                    <input type="text" value="" name="login" id="login" onchange="zmiania_widocznosci('login','v3','v4');">
                    {% endif %}
                    <span class="ukryty" id="v3" value="0"> OK </span> <span class="ukryty" id="v4" value="0"> Nope </span> </br>
	 
                    Hasło: <input type="password" name="password"> </br>
                    <input type="hidden" name="send" value="rejestracja">
                    <button type="button" class="btn btn-primary btn-block" onclick="scmw('form1','v1','v3');">
                    <span class="glyphicon glyphicon-ok"> Wyślij</span></button>
		</form>
	</body>
</html>