<!DOCTYPE html>
<html lang = "pl">
{% include 'head.tmpl' %}
	
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		{% include 'logo_i_navbar.tmpl' %}
		{% include 'komunikat_pozytywny.tmpl' %}
		{% include 'komunikat_negatywny.tmpl' %}
	</body>
</html>