<!DOCTYPE html>
<html lang = "pl">
{% include 'head.twig' %}
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		{% include 'logo_i_navbar.twig' %}
		{% include 'komunikat_pozytywny.twig' %}
		{% include 'komunikat_negatywny.twig' %}
                {% if  poprawna__zmiana_loginu is not defined %}
                    <form role="form" action="index.php" method="post" id="form1">
                        Podaj nowy login: <input type="text" name="login"> </br>
                        <input type="hidden" name="send" value="zmiana_loginu">
                        <button type="submit" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-ok"> Wyślij</span></button>
                    </form>
                {% endif %}
		
	</body>
</html>